.inst_container {
  display: flex;
  height: calc(100vh - 4rem);
}

.inst_data_container {
  margin: 0 auto;
  width: -webkit-fill-available;
}

.inst_data {
  margin-top: 2rem;
  height: 35%;
}

.inst_img_container {
  display: contents;
}

.inst_file_img {
  height: 100%;
}

.inst_file_btn {
  background-color: rgb(43, 37, 37);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 2rem;
}

.inst_file_btn:hover {
  transform: scale(1.1);
}

.trainer_img_container {
  height: 60%;
}

.gym_img {
  max-height: 100%;
}